@import "tailwindcss";

@theme {
    --color-verdinho: #E9F5EB;
    --color-verdeclaro: #E5F2D9;
    --color-verdemusgo: #99C64F;
    --color-verdeescuro: #23583A;
    --color-verdefechado: #24513F;
    --color-verdenormal: #006400;
    --color-cinza: #D9D9D9;

    --color-darkpreto: #1A1A1A;
    --color-darkpretinho: #1E1E1E;
    --color-darkverdinho: #356E4E;
    --color-darkverdeclaro: #444444;
    --color-darkverdemusgo: #006400;
    --color-darkverdeescuro: #122C1E;
    --color-darkcinza: #2B2B2B;
   
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));